body {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/117/757/original/clock.png?1709732296");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

select {
  display: block;
  width: 100%;
  padding: 10px 14px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #f4f1ea;
  color: #403b32;
  border: 1px solid #a89f91;
  font-family: 'Playfair Display', serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

footer {
  font-family: monospace;
  text-align: center;
  color: #504A40;
  font-size: 17px;
  padding: 27px 0 10px;
}

footer p {
  margin: 0px;
}

footer a {
  color: #425a59;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.search-country {
  display: flex;
  justify-content: center;
}

.logo-clock {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 10px 0px 10px;
}


.world-clock h1 {
  margin-top: 14px;
  margin-bottom: 0px;
  font-size: 45px;
}

.img-clock {
  order: 2;
}


.img-clock img {
  width: 60px;
  height: 60px;
  opacity: 0.9;
}

.zurich {
  color: #2d2923;
  font-family: 'Playfair Display', serif;
}

.zurich h2 {
  font-size: 45px;
  margin-bottom: 40px;
  background: -webkit-linear-gradient(left, #2a3b4a, #6d6254, #907a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.container {
  background-color: rgba(192, 178, 151, 0.9);
  max-width: 1000px;
  margin: 70px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(192, 178, 151, 0.9);
}

.city-container {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.main-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.other-cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
  font-family: 'Playfair Display', serif;
  color: #4e473c;
}

.city {
  border-bottom: 1px dashed rgb(91, 80, 55);
  padding: 10px;
}

.city h2 {
  font-size: 25px;
}

.city:last-child {
  border: none;
}

.date {
  color: rgb(31, 26, 20);
  opacity: 0.8;
  font-size: 25px;
  margin-bottom: 10px;
}

.time {
  color: #11100e;
  font-size: 24px;
}

#zurich .time {
  font-size: 35px;
  color: #292724;
}

#zurich .time small {
  font-size: 15px;
}

.time small {
  vertical-align: middle;
  font-size: 10px;
}

/* Clock */
.clock {
  background: radial-gradient(circle at center, #e8dfca 30%, #b3a68e 100%);
  border-radius: 50%;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -2px 4px rgba(255, 255, 255, 0.2);
  height: 300px;
  position: relative;
  width: 300px;
  margin: 20px 10px;
}

clock-face:before {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.main-container {
  padding: 0px 15px 5px;
}

.number {
  font-family: 'Playfair Display', serif;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 19px;
  font-weight: bold;
  color: #2d1e0d;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(0deg);
}

.number1 {
  transform: translate(-50%, -50%) rotate(30deg) translateY(-130px) rotate(-30deg);
}

.number2 {
  transform: translate(-50%, -50%) rotate(60deg) translateY(-130px) rotate(-60deg);
}

.number3 {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-130px) rotate(-90deg);
}

.number4 {
  transform: translate(-50%, -50%) rotate(120deg) translateY(-130px) rotate(-120deg);
}

.number5 {
  transform: translate(-50%, -50%) rotate(150deg) translateY(-130px) rotate(-150deg);
}

.number6 {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-130px) rotate(-180deg);
}

.number7 {
  transform: translate(-50%, -50%) rotate(210deg) translateY(-130px) rotate(-210deg);
}

.number8 {
  transform: translate(-50%, -50%) rotate(240deg) translateY(-130px) rotate(-240deg);
}

.number9 {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-130px) rotate(-270deg);
}

.number10 {
  transform: translate(-50%, -50%) rotate(300deg) translateY(-130px) rotate(-300deg);
}

.number11 {
  transform: translate(-50%, -50%) rotate(330deg) translateY(-130px) rotate(-330deg);
}

.number12 {
  transform: translate(-50%, -50%) rotate(360deg) translateY(-130px) rotate(-360deg);
}

.second-hand {
  width: 2px;
  height: 37%;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  background-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  transform-origin: 50% 100%;
  transition: transform 0.1s cubic-bezier(0, 2.57, 0.58, 1);
  position: absolute;
  bottom: 50%;
  left: 49.5%;
  transform-origin: 50% 100%;
  border-radius: 10px;
  z-index: 2;/
}



.center-dot {
  position: absolute;
  background: #b29a75;
  border: 2px solid #af9773;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}


.hand {
  position: absolute;
  bottom: 50%;
  left: 49.5%;
  transform-origin: 50% 100%;
  background: #b3a68e;
  border-radius: 10px;
  z-index: 2;/
}

.hour-hand {
  width: 5px;
  height: 23%;
}

.minute-hand {
  width: 4px;
  height: 30%;
}

.world-clock {
  font-family: 'Playfair Display', serif;
  color: #FFFFFF;
  background: linear-gradient(-45deg, #d35400, #7f8c8d, #34495e, #2c3e50);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin-right: 21px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}